@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
       <form action="${ctxPath}/course/update" method="post" id="courseUpdate" enctype="multipart/form-data">
            <input type="hidden" id="id" name="id" value="${course.id}">

            <div class="row">
           <div class="form-group">
					<label class="col-sm-2 control-label">教材名称</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="name" name="name" value="${course.name}">
						<span class="help-block m-b-none">例如:（...）</span>
					</div>
				</div>
            	<div class="form-group">
					<label class="col-sm-2 control-label">图片上传</label>
					<div class="col-sm-10">
						<input type="file" class="form-control" id="imgFile" name="imgFile">
						<span class="help-block m-b-none">例如:（...）</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">简介</label>
					<div class="col-sm-10">
						<textarea name="summary" id="summary" rows="5" cols="80">${course.summary}</textarea>
						<span class="help-block m-b-none">例如:（...）</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">描述</label>
					<div class="col-sm-10">
						<textarea name="description" id="description" rows="5" cols="80">${course.description}</textarea>
						<span class="help-block m-b-none">例如:（...）</span>
					</div>
				</div>
					<div class="form-group">
					<label class="col-sm-2 control-label">详细内容</label>
					<div class="col-sm-10">
						<textarea name="content" id="content" rows="10" cols="80">${course.content}</textarea>
						<span class="help-block m-b-none">例如:（...）</span>
					</div>
				</div>
            	<div class="form-group">
					<label class="col-sm-2 control-label">排序</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="num" name="num" value="${course.num}">
						<span class="help-block m-b-none">例如:（...）</span>
					</div>
				</div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CourseInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CourseInfoDlg.close()"/>
                </div>
            </div>
            </form>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/course/course_info.js"></script>
@}
