<style>
	#nav-menu{
	  line-height:40px;
	  padding:0px 10px 0px 10px;
	  position:fixed;
	  top:0px;
	  left:0px;
	    z-index: 100;
	  background:#ffffff;
	}
	#nav-menu a{
	    font-size:16px;
	    padding:10px 10px;
            cursor:pointer;
	    color:#000000;
	    font-weight:700;
	    text-decoration:none;
	}
	#nav-menu a:hover{
	      background-color: #e84c3d;
    		color: white;
	}

	#myCarousel{
	    margin-top: 60px;
	    padding: 0px;
	}
	#down-menu{
	    position:absolute;
	    right:300px;
	    top:42px;
	    list-style:none;
	    display:none;
	}
	#down-menu li{
	    line-height:30px;
	    background:#ffffff;
	    padding:5px;10px;
	    
	}
	#down-menu li:hover{
		background-color: #e84c3d;
    		color: white;
	}
    a{
	 		text-decoration:none;
	}
	</style>
<div class="col-xs-12 text-right" id="nav-menu">
<div class="col-xs-4">
	<img src="${ctxPath}/static/img/logo.jpeg" style="width:60px;height:40px;margin-top:5px;margin-left: 35px;" class="pull-left" />
	</div>
	<div class="col-xs-6 text-left">
	@if(has(student)){
	欢迎您，${student.nickname}
	@}
	<a href="${ctxPath}/front">首页</a>
	@if(has(user)){
	您登陆的是后台账号
	<a href="${ctxPath}/admin">点击跳转后台</a>
	<a href="${ctxPath}/front/logout">或者退出</a>
	@}else{
	@if(!has(student)){
	<a href="${ctxPath}/front/login_s.html">登录</a>
	<a href="${ctxPath}/front/sign.html">注册</a>
	 @}else{
	<a onmouseover="showMenu()">个人中心<span class="caret"></span></a>
	<ul role="menu" id="down-menu" onmouseover="showMenu()" onmouseout="hideMenu()">
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="${ctxPath}/front/to_modify_pwd.html?id=${student.id}">修改密码</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="${ctxPath}/front/to_my_lesson.html?id=${student.id}">我的课程</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="${ctxPath}/front/to_new_order.html?id=${student.id}">预约课程</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="${ctxPath}/front/to_my_order.html?id=${student.id}">我的预约</a>
		</li>
	</ul>
	 <a href="#connect" onclick="">联系我们</a> 
	<a href="${ctxPath}/front/logout.html">退出</a>
	@}
	@}
	</div>
</div>

<script>
	function showMenu(){
	   $("#down-menu").show();
	}
	function hideMenu(){
	   $("#down-menu").hide();
	}
	
	
	
	
</script>