<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>首页</title>
	<link rel="stylesheet" href="${ctxPath}/static/css/bootstrap.min.css">
	<style>
	#nav-menu{
	  line-height:40px;
	  padding:0px 10px 0px 10px;
	  position:fixed;
	  top:0px;
	  left:0px;
	    z-index: 100;
	  background:#ffffff;
	}
	#nav-menu a{
	    font-size:14px;
	    padding:10px 10px;
            cursor:pointer;
	    color:#000000;
	    font-weight:700;
	    text-decoration:none;
	}
	#nav-menu a:hover{
	      background-color: #e84c3d;
    		color: white;
	}

	#myCarousel{
	    margin-top: 60px;
	    padding: 0px;
	}
	#down-menu{
	    position:absolute;
	    right:140px;
	    top:42px;
	    list-style:none;
	    display:none;
	}
	#down-menu li{
	    line-height:30px;
	    background:#ffffff;
	    padding:5px;10px;
	    
	}
	#down-menu li:hover{
		background-color: #e84c3d;
    		color: white;
	}
    a{
	 		text-decoration:none;
	}
	</style>
<script src="${ctxPath}/static/js/jquery.min.js?v=2.1.4"></script>
    <script src="${ctxPath}/static/js/bootstrap.min.js?v=3.3.6"></script>
</head>
<body bgcolor="black">
@layout("header.html"){
@}
<div id="myCarousel" class="carousel slide col-xs-12">
	<ol class="carousel-indicators">
	@for(shuffling in shuffling_list){
		<li data-target="#myCarousel" data-slide-to="${shufflingLP.index}" 
		@if(shufflingLP.first){
			class="active"
		@}
		></li>
	@}
	</ol>   

	<div class="carousel-inner">
	@for(shuffling in shuffling_list){
	<div align="center" class="item 
	@if(shufflingLP.first){
	active
	@}
	">
		<a href="${ctxPath}/front/acivityDetail/${shuffling.id}"><img src="${shuffling.path }" style="width:100%;height:800px" alt="${shuffling.title }"></a>
		</div>
	@}
	</div>
	<a class="carousel-control left" style="font-size: 40px;line-height: 350px;" href="#myCarousel" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="carousel-control right" style="font-size: 40px;line-height: 350px;" href="#myCarousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>

<div class="col-xs-12" style="height:50px">

</div>
<div class="col-xs-12">
	<div class="col-xs-2">
		
	</div>
	<div class="col-xs-10">
		
		<div class="col-xs-12">
			<h4>教师</h4>
		</div>
		<div class="col-xs-12" style="padding: 0px;">
		@for(teacher in teacher_list){
		
		<div class="col-xs-4" style="width: 32%;">
				<a href="${ctxPath}/front/teacherDetail/${teacher.id}"><img src="${teacher.picture }" style="width:100%;height: 300px;" /></a>
				<h4 class="text-center">${teacher.teacherName}</h4>
				<div class="col-xs-12 text-center" style="word-break:break-word">
				  ${teacher.content}
				</div>
			</div>
		@}
			<div class="col-xs-1" style="width: 14px;margin-top: 5%;">
				<a href="${ctxPath}/front/teacherDetail/${teacher_list[0].id}">查看更多</a>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12">
	<div class="col-xs-2">
		
	</div>
	<div class="col-xs-10">	
		<div class="col-xs-12">
			<h4>课程</h4>
		</div>
		<div class="col-xs-12" style="padding: 0px;">
		
		@for(course in course_list){
		<div class="col-xs-4" style="width: 32%;">
				<a href="${ctxPath}/front/courseDetail/${course.id}"><img src="${course.imgPath}" style="width:100%;height: 300px;" /></a>
				<h4 class="text-center">${course.name}</h4>
				<div class="col-xs-12 text-center" style="word-break:break-word">
				${course.summary}
				</div>
			</div>
		@}
			<div class="col-xs-1" style="width: 14px;margin-top: 5%;">
				<a href="${ctxPath}/front/courseDetail/${course_list[0].id}">查看更多</a>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12">
	<div class="col-xs-2">
		
	</div>
	<div class="col-xs-10">
		<div class="col-xs-12">
			<h4>教材</h4>
		</div>
	<div class="col-xs-12" style="padding: 0px;">
	@for(material in material_list){
	<div class="col-xs-4" style="width: 32%;">
			<a href="${ctxPath}/front/materialDetail/${material.id}"><img src="${material.imgPath}" style="width:100%;height: 300px;" /></a>
			<h4 class="text-center">${material.name}</h4>
		</div>
	@}
	<div class="col-xs-1" style="width: 14px;margin-top: 5%;">
			<a href="${ctxPath}/front/materialDetail/${material_list[0].id}">查看更多</a>
		</div>
	</div>
	</div>
</div>
<div class="col-xs-12">
	<div class="col-xs-2">
		
	</div>
	<div class="col-xs-10">
		<div class="col-xs-12" id="detail">
			<h2 style="font-style:italic">&nbsp;</h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2 style="font-style:italic;"><strong><small>关于我们：</small></strong></h2>

<h2 style="font-style:italic"><em><small>奈斯英语网校是专业的互联网学习平台，致力于为学员用户提供一对一优质的网络学习产品和服务。</small></em></h2>

<p><img alt="" src="${ctxPath}/static/img/timg.jpg" style="height:259px; width:500px" /></p>

<h2 style="font-style:italic"><small>奈斯英语网校诞生于2016年，为实现用户从零基础到英语交流无障碍的目标而不懈努力，为客户量身打造最为合适的语言学习方式。</small></h2>

<p><img alt="" src="${ctxPath}/static/img/timg (1).jpg" style="height:367px; width:500px" /></p>

<h2 style="font-style:italic"><small>奈斯英语的在线课程系统可以完美的匹配忙碌的上班族和学生以及家长的时间需求，利用碎片时间提高学习效率，无需排队等待。</small></h2>

<p><img alt="" src="${ctxPath}/static/img/timg (3).jpg" style="height:436px; width:500px" /></p>

<h2 style="font-style:italic"><small>奈斯英语专业的外教一对一互动指导能帮助客户摆脱无声英语世界，跨国沟通轻松应对。</small></h2>

<h2 style="font-style:italic"><small>英语学习重在开口，奈斯英语助您赢在英语口语学习的起跑线。未来已来，我们与您共同见证成长。</small></h2>

<h2 style="font-style:italic;" id="connect"><small><strong>联系我们</strong></small></h2>

<h3 style="color:#aaaaaa; font-style:italic">微信二维码：&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;联系电话：12343212345&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</h3>

<h3 style="color:#aaaaaa; font-style:italic">&nbsp; <img alt="" src="${ctxPath}/static/img/IMG_0555.JPG" style="height:300px; width:169px" />&nbsp;</h3>

<p>&nbsp;</p>




		</div>
	</div>
</div>
@layout("footer.html"){
@}
</body>
</html>
