<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<link rel="stylesheet" href="${ctxPath}/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="${ctxPath}/static/css/front1.css">
		<!-- <link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css" /> -->
		<style>
			i{
				position:absolute!important;right: 20px!important;top: 12.5px!important;
			}
			.monthPoint{
				position: absolute;
			    right: 16px;
			    top: 0px;
			    height: 38px;
			    margin-top: 1px;
			    padding-top: 8px;
			    background: #f5f5f5;
			}
			.erweimaDiv{
				    position: absolute;
				    top: 0px;
				    left: 0px;
				    width: 100%;
				    text-align: center;
				    height: 100%;
				    background: #f5f5f5;
				    padding: 60px;
				    display: none;
			}
			.erweimaDiv img{
				width: 100%;
				height: 100%;
				max-width: 100%!important;
			}
		</style>
		<script src="${ctxPath}/static/js/jquery.min.js?v=2.1.4"></script>
    	<script src="${ctxPath}/static/js/bootstrap.min.js?v=3.3.6"></script>
    	<script src="${ctxPath}/static/js/plugins/validate/bootstrapValidator.min.js"></script>
		<script src="${ctxPath}/static/js/common/ajax-object.js"></script>
		<script src="${ctxPath}/static/js/plugins/layer/layer.min.js"></script>
		<script src="${ctxPath}/static/js/common/Feng.js"></script>
		<script type="text/javascript">
			Feng.addCtx("${ctxPath}");
			Feng.sessionTimeoutRegistry();
		</script>
		<!-- <script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script> -->
		<script>
		$(function(){
			$("#classapproach").bind("change",function(){
				if($("#classapproach :checked").val()=="1"){
					$("#QQDiv").show();
					$("#SkipDiv").hide();
				}else if($("#classapproach :checked").val()=="2"){
					$("#QQDiv").hide();
					$("#SkipDiv").show();
				}
			})
		 /* 	$("#close").bind("click",function(){
				
				var id=$("#id");
				 window.location=Feng.ctxPath + '/front/to_my_order?id='+id;
			})  */
		})
		function Buy(){
			$(".erweimaDiv").show();
		}
		</script>
	</head>
	<body>
	@layout("header.html"){
@}
		<div class="page-wrapper">

		<!-- main-container start -->
		<!-- ================ -->
		<section class="main-container light-translucent-bg" style="padding-top: 20px;">

			<div class="container">
				<div class="row">

					<!-- main start -->
					<!-- ================ -->
					<div class="main col-md-8 col-md-offset-2">

						<div class="object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
							<div class="form-block center-block">
								<h2 class="title">新建订单</h2>
								<hr>
								<input type="hidden" name="id" id="studentid" value="${id}"/>
								<div class="form-horizontal">
									<div class="form-group has-feedback">
										 <label for="inputName" class="col-sm-3 control-label">课程名称
											<span class="text-danger small">*</span>
										</label> 
										<div class="col-sm-8">
										<select id="courseid" class="form-control">
											@for(courseName in dicMap.coursename){
											<option value="${courseName.id}">${courseName.name}</option>
											@}
										</select>
																																						
										</div>
								
									</div>
									<div class="form-group has-feedback">
										<label for="inputPassword" class="col-sm-3 control-label">课程期限
											<span class="text-danger small">*</span>
										</label>
										<div class="col-sm-8">
											<input id="months" type="number" class="form-control" placeholder="" required="">
											<div class="monthPoint">个月</div>
										</div>
									</div>
									<div class="form-group has-feedback">
										 <label for="inputName" class="col-sm-3 control-label">课程时长
											<span class="text-danger small">*</span>
										</label> 
										<div class="col-sm-8">
										<select id="coursetime" id="coursetime" class="form-control">
												@for(classTime in dicMap.calsstime){
													<option value="${classTime.num}">${classTime.name}</option>
												@}
										</select>
																																						
										</div>
								
									</div>
									
									<div class="form-group has-feedback">
										<label for="inputLastName" class="col-sm-3 control-label">上课星期
											<span class="text-danger small">*</span>
										</label>
										<div class="col-sm-8">
											<input type="checkbox" name="weeks" value="1"/>星期一
											<input type="checkbox" name="weeks" value="2"/>星期二
											<input type="checkbox" name="weeks" value="3"/>星期三
											<input type="checkbox" name="weeks" value="4"/>星期四
											<input type="checkbox" name="weeks" value="5"/>星期五
											<input type="checkbox" name="weeks" value="6"/>星期六
											<input type="checkbox" name="weeks" value="7"/>星期日
										</div>
									</div>
									<div class="form-group has-feedback">
									    <label for="inputUserName" class="col-sm-3 control-label">教材
											<span class="text-danger small">*</span>
										</label> 
										<div class="col-sm-8">
										<select id="materialid" name="教材" class="form-control">
											@for(meterialName in dicMap.meterialname){
											<option value="${meterialName.id}">${meterialName.name}</option>
											@}
										</select>
											
												
										</div>
									</div>
									<div class="form-group has-feedback">
										<label for="inputUserName" class="col-sm-3 control-label">开始日期
											<span class="text-danger small">*</span>
										</label>
										<div class="col-sm-8">
											<input type="date" id="date"/>
												
										</div>
									</div>
									
									<div class="form-group has-feedback">
										<label for="inputUserName" class="col-sm-3 control-label">上开时间
											<span class="text-danger small">*</span>
										</label>
										<div class="col-sm-8">
											<input id="starttime" type="time"/>
												
										</div>
									</div>																	
									
									<div class="form-group has-feedback">
										<label for="inputPassword" class="col-sm-3 control-label">上课方式
											<span class="text-danger small">*</span>
										</label>
										<div class="col-sm-8">
											<select class="form-control"  id="classapproach">
												<option value="1">QQ</option>
												<option value="2">skype</option>
											</select>
										</div>
									</div>
									<div class="form-group has-feedback" id="QQDiv">
										<label for="inputPassword" class="col-sm-3 control-label">QQ账号
											<span class="text-danger small">*</span>
										</label>
										<div class="col-sm-8">
											<input type="number" class="form-control" id="QQNumber" />
										</div>
									</div>
									<div class="form-group has-feedback" style="display: none;" id="SkipDiv">
										<label for="inputPassword" class="col-sm-3 control-label">Skyp账号
											<span class="text-danger small">*</span>
										</label>
										<div class="col-sm-8">
											<input type="number" class="form-control" id="skypNumber" />
										</div>
									</div>
									
									<div class="form-group has-feedback">
										<label for="inputUserName" class="col-sm-3 control-label">出生日期
											<span class="text-danger small">*</span>
										</label>
										<div class="col-sm-8" >
											<input type="date" id="birthday"/>											
										</div>
									</div>
									<div class="form-group has-feedback">
										<label for="inputPassword" class="col-sm-3 control-label">性别
											<span class="text-danger small">*</span>
										</label>
										<div class="col-sm-8">
											<select class="form-control" id="sex">
												<option value="1">男</option>
												<option value="2">女</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-8">
											<a onclick="OrdermanageInfoDlg.addSubmit()" class="btn btn-default">提交预约</a>
										</div>
									</div>
								</div>
							</div>
							<div class="erweimaDiv">
								<img src="images/erweima.jpg" />
								<div class="form-group has-feedback">
										<label for="inputUserName" class="col-sm-3 control-label">请支付金额：
											<span class="text-danger small"></span>
										</label>
										<div class="col-sm-3" id="birthday">
											<input type="number" class="form-control" id="amount" disabled="disabled"/>											
										</div>
									</div>
								<a id="close" class="btn btn-default" onclick="OrdermanageInfoDlg.closePay()">关闭</a>
							</div>
						</div>

					</div>
					<!-- main end -->

				</div>
			</div>

		</section>
		<!-- main-container end -->

	</div>
	@layout("footer.html"){
@}
	</body>
	<script src="${ctxPath}/static/modular/system/ordermanage/ordermanage_info.js"></script>
</html>
