<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>修改密码</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css" />
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="page-wrapper">
			<section class="main-container">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<a href="index.html">
								<img src="images/slide1.png" style="width: 20%;margin: 0 auto;display: block;" />
							</a>
							<div class="site-slogan">某某某英语，外教天天学</div>
						<div class="object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
							<div class="form-block center-block">
								<h2 class="title">修改密码</h2>
								<hr>
								<div class="form-horizontal">
									<div class="form-group has-feedback">
										<label for="inputPassword" class="col-sm-3 control-label">原密码</label>
										<div class="col-sm-8">
											<input type="password" class="form-control" id="passwd" placeholder="请输入密码"> <i style="right: 20px;position: absolute;top: 12.5px;" class="glyphicon glyphicon-lock"></i>
										</div>
									</div>

									<div class="form-group has-feedback">
										<label for="inputPassword" class="col-sm-3 control-label">新密码</label>
										<div class="col-sm-8">
											<input type="password" class="form-control" id="passwd" placeholder="请输入密码"> <i style="right: 20px;position: absolute;top: 12.5px;" class="glyphicon glyphicon-lock"></i>
										</div>
									</div>
									<div class="form-group has-feedback">
										<label for="inputPassword" class="col-sm-3 control-label">重复密码</label>
										<div class="col-sm-8">
											<input type="password" class="form-control" id="passwd2" placeholder="请输入密码"> <i style="right: 20px;position: absolute;top: 12.5px;" class="glyphicon glyphicon-lock"></i>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-8">
											
											<button type="button" class="btn btn-group btn-default btn-sm" onclick="savePasswd();">重设密码</button>
											<button type="button" class="btn btn-group  btn-sm" onclick="history.go(-1)">返回</button>


										
										</div>
									</div>
								</div>
							</div>
							<p class="text-center space-top">
								还没有账号? 立即<a href="sign.html">注册</a>
							</p>
						</div>
					</div>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>
