<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>修改密码</title>
		<link rel="stylesheet" href="${ctxPath}/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="${ctxPath}/static/css/front.css">
	<link
	href="${ctxPath}/static/css/plugins/validate/bootstrapValidator.min.css"
	rel="stylesheet">
<style>
i {
	position: absolute !important;
	right: 20px !important;
	top: 12.5px !important;
}
</style>
	
	
		<script src="${ctxPath}/static/js/jquery.min.js?v=2.1.4"></script>
    <script src="${ctxPath}/static/js/bootstrap.min.js?v=3.3.6"></script>
	<script
	src="${ctxPath}/static/js/plugins/validate/bootstrapValidator.min.js"></script>
<script src="${ctxPath}/static/js/common/ajax-object.js"></script>
<script src="${ctxPath}/static/js/plugins/layer/layer.min.js"></script>
<script src="${ctxPath}/static/js/common/Feng.js"></script>
<script type="text/javascript">
	Feng.addCtx("${ctxPath}");
	Feng.sessionTimeoutRegistry();
</script>
<script src="${ctxPath}/static/modular/system/student/student_resetpwd_front.js"></script>
	<style>
.form-control-feedback{
    line-height: 15px !important;
        width: 15px;
}
</style>
	</head>
	<body>
		<div class="page-wrapper">
			<section class="main-container">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<a href="index.html">
								<img src="images/slide1.png" style="width: 20%;margin: 0 auto;display: block;" />
							</a>
							<div class="site-slogan">某某某英语，外教天天学</div>
						<div class="object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
							<div class="form-block center-block">
								<h2 class="title">修改密码</h2>
								<hr>
								<form method="post" id="studentResetPWDInfoForm">
								<div class="form-horizontal">
									<div class="form-group has-feedback">
										<label for="inputPassword" class="col-sm-3 control-label">原密码</label>
										<div class="col-sm-8">
											<input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="请输入原密码"> 
										</div>
									</div>
									<input type="hidden" name="id" id="id" value="${id}"/>
									<div class="form-group has-feedback">
										<label for="inputPassword" class="col-sm-3 control-label">新密码</label>
										<div class="col-sm-8">
											<input type="password" class="form-control" id="password" name="password" placeholder="请输入新密码"> 
										</div>
									</div>
									<div class="form-group has-feedback">
										<label for="inputPassword" class="col-sm-3 control-label">重复密码</label>
										<div class="col-sm-8">
											<input type="password" class="form-control" id="repassword" name="repassword" placeholder="请再次输入新密码"> 
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-8">
											
											<button type="button" class="btn btn-group btn-default btn-sm" onclick="StudentResetPWDFrontInfoDlg.modifyPWD();">重设密码</button>
											<button type="button" class="btn btn-group  btn-sm" onclick="history.go(-1)">返回</button>


										
										</div>
									</div>
								</div>
							</form>
							</div>
							<p class="text-center space-top">
								还没有账号? 立即<a href="${ctxPath}/front/sign.html">注册</a>
							</p>
						</div>
					</div>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>
