<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>注册</title>
<link rel="stylesheet" href="${ctxPath}/static/css/bootstrap.min.css">
<link rel="stylesheet" href="${ctxPath}/static/css/front.css">
<link
	href="${ctxPath}/static/css/plugins/validate/bootstrapValidator.min.css"
	rel="stylesheet">
<style>
i {
	position: absolute !important;
	right: 20px !important;
	top: 12.5px !important;
}
</style>
<script src="${ctxPath}/static/js/jquery.min.js?v=2.1.4"></script>
<script src="${ctxPath}/static/js/bootstrap.min.js?v=3.3.6"></script>
<script
	src="${ctxPath}/static/js/plugins/validate/bootstrapValidator.min.js"></script>
<script src="${ctxPath}/static/js/common/ajax-object.js"></script>
<script src="${ctxPath}/static/js/plugins/layer/layer.min.js"></script>
<script src="${ctxPath}/static/js/common/Feng.js"></script>
<script type="text/javascript">
	Feng.addCtx("${ctxPath}");
	Feng.sessionTimeoutRegistry();
</script>
<style>
.form-control-feedback{
    line-height: 15px !important;
        width: 15px;
}
</style>
</head>
<body>
	<div class="page-wrapper">

		<!-- main-container start -->
		<!-- ================ -->
		<section class="main-container light-translucent-bg"
			style="padding-top: 20px;">

			<div class="container">
				<div class="row">

					<!-- main start -->
					<!-- ================ -->
					<div class="main col-md-8 col-md-offset-2">

						<!-- logo -->
						<div class="logo">
							<a href="index.html"><img id="logo"
								style="width: 20%; margin: 0 auto; display: block;"
								src="images/slide1.png" alt="iDea"></a>
						</div>

						<!-- name-and-slogan -->
						<div class="site-slogan">欢迎注册</div>

						<div
							class="object-non-visible animated object-visible fadeInDownSmall"
							data-animation-effect="fadeInDownSmall" data-effect-delay="300">
							<div class="form-block center-block">
								<h2 class="title">新用户注册</h2>
								<hr>
								<form method="post" id="studentInfoForm">
									<div class="form-horizontal">

										<div class="form-group has-feedback">
											<label for="inputName" class="col-sm-3 control-label">账户名
												<span class="text-danger small">*</span>
											</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" name="account"
													id="account" placeholder="用户名" required=""> 
													<!-- <i
													class="glyphicon glyphicon-user"></i> -->

											</div>

										</div>
										<div class="form-group has-feedback">
											<label for="inputPassword" class="col-sm-3 control-label">密码
												<span class="text-danger small">*</span>
											</label>
											<div class="col-sm-8">
												<input type="password" class="form-control" id="password"
													name="password" placeholder="密码" required=""> <!-- <i
													class="glyphicon glyphicon-lock"></i> -->
											</div>
										</div>
										<div class="form-group has-feedback">
											<label for="inputPassword" class="col-sm-3 control-label">确认密码
												<span class="text-danger small">*</span>
											</label>
											<div class="col-sm-8">
												<input type="password" class="form-control" id="repassword"
													name="repassword" placeholder="确认密码" required=""> <!-- <i
													class="glyphicon glyphicon-lock"></i> -->
											</div>
										</div>
										<div class="form-group has-feedback">
											<label for="inputLastName" class="col-sm-3 control-label">昵称
												<span class="text-danger small">*</span>
											</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="nickName"
													name="nickName" placeholder="昵称（请使用英文，老师均为歪果仁，看不懂中文）"
													required=""> <!-- <i class="glyphicon glyphicon-pencil"></i> -->
											</div>
										</div>
										<div class="form-group has-feedback">
											<label for="inputUserName" class="col-sm-3 control-label">姓名
												<span class="text-danger small">*</span>
											</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="realName"
													name="realName" placeholder="真实姓名" required=""> <!-- <i
													class="glyphicon glyphicon-pencil"></i> -->
											</div>
										</div>
										<div class="form-group has-feedback">
											<label for="inputEmail" class="col-sm-3 control-label">请选择上课工具
												<span class="text-danger small">*</span>
											</label>
											<div class="col-sm-8">
												<div class="checkbox">
													<label> <input type="radio" name="contact_mode"
														required="" checked="" value="qq" maxlength="50">
														QQ（外教老师连接境内服务器效果不如Skype）
													</label> <label> <input type="radio" name="contact_mode"
														maxlength="50" required="" value="skype">Skype（通话质量最好的工具，点击<a
														target="_blank"
														href="http://skype.gmw.cn/down/skype-for-computers.html">此处</a>下载）
													</label>
												</div>
											</div>
										</div>
										<div class="form-group has-feedback">
											<label for="inputEmail" class="col-sm-3 control-label">上课工具账号
												<span class="text-danger small">*</span>
											</label>
											<div class="col-sm-8">
												<input type="hidden" name="qq" id="qq" /> <input
													type="hidden" name="skype" id="skype" /> <input type="text"
													class="form-control" id="contact" name="contact"
													placeholder="QQ或者Skype账号" required=""> <!-- <i
													class="glyphicon glyphicon-pencil" id="tools"></i> -->
											</div>
										</div>

										<div class="form-group">
											<div style="margin-left: 90px; color: red; display: none"
												id="prompt">
												<label>提示：如收不到短信验证码，请联系客服QQ:11111111 </label>
											</div>
											<div class="col-sm-offset-3 col-sm-8">
												<div class="checkbox">
													<label> 
													<input type="checkbox" name="agreelicense" id="agreelicense"
														> 同意 <a target="_blank"
														href="agree.html">服务协议</a>
													</label>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-3 col-sm-8">
												<a onclick="StudentFrontInfoDlg.addSubmit()"
													class="btn btn-default">注册</a> <a href="login_s.html"
													style="background: #d0c9c9; color: #000000; margin-left: 10px;"
													class="btn">已有账号，直接登录</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>

					</div>
					<!-- main end -->

				</div>
			</div>

		</section>
		<!-- main-container end -->

	</div>
	<script src="${ctxPath}/static/modular/system/student/student_front.js"></script>
</body>

</html>
