@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${teacher.id}">
            <input type="hidden" id="sexValue" value="${teacher.sex}">

            <div class="row">
            <div class="col-sm-6 b-r">
					<#input id="account" name="账户" value="${teacher.account}"/>

					<#select id="sex" name="性别">
						<option value="1">男</option>
						<option value="2">女</option>
					</#select>
					<#input id="country" name="国籍" value="${teacher.country}"/>
					<#input id="qq" name="QQ" value="${teacher.qq}" />
					<#input id="password" name="密码"  type="password" value="${teacher.password}"/>	
					<#input id="rePassword" name="确认密码" type="password" value="${teacher.password}"/>				
					<#input id="email" name="邮箱" underline="picture" type="email" value="${teacher.email}"/>	
								
				</div>
				<div class="col-sm-6">
					<div id="driverInfoContent">
						<#input id="name" name="姓名"  value="${teacher.name}"/>
						<#input id="age" name="年龄"  value="${teacher.age}"/>
						<#input id="language" name="语言"  value="${teacher.language}"/>
						<#input id="skype" name="skype" value="${teacher.skype}"/>
						<#input id="phone" name="电话" value="${teacher.phone}"/>
						<#input id="birthday" name="出生日期" underline="true" type="date"
								clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" value="${teacher.birthday}"/>																		
					</div>
            </div>
            </div>
            <div class="row">			
				<div class="form-group">
					<label class="col-sm-2 control-label">照片</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="picture" name="picture"  value="${teacher.picture}">
					</div>
				</div>
				
				
				<div class="form-group">
					<label class="col-sm-2 control-label">introduction</label>
					<div class="col-sm-10">
					<textarea name="content" id="content" rows="30" cols="80">
						${teacher.content}
            		</textarea>						
					</div>
				</div>             
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TeacherInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TeacherInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
	CKEDITOR.replace('content');
</script>
<script src="${ctxPath}/static/modular/system/teacher/teacher_info.js"></script>
@}
