@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${teacher.id}">
             <input type="hidden" id="teacheridvalue" value="${teacher.userId}">
            <input type="hidden" id="countryvalue" value="${teacher.country}">
            <input type="hidden" id="languagevalue" value="${teacher.language}">      
            <div class="row">
            <div class="col-sm-6 b-r">
            <#select id="teacherid" name="教师">
						@for(userIdname in dicMap.useridname){
						<option value="${userIdname.id}">${userIdname.name}</option>
						@}
					</#select>
					<#select id="country" name="国籍">
						@for(countryName in dicMap.country){
						<option value="${countryName.num}">${countryName.name}</option>
						@}
						</#select>
					<#input id="qq" name="QQ" value="${teacher.qq}" />
	
								
				</div>
				<div class="col-sm-6">
					<div id="driverInfoContent">

						<#input id="age" name="年龄"  value="${teacher.age}"/>
						<#select id="language" name="语言">
						@for(languageName in dicMap.language){
						<option value="${languageName.num}">${languageName.name}</option>
						@}
					</#select>
						<#input id="skype" name="skype" value="${teacher.skype}"/>
						<#input id="birthday" name="出生日期" underline="true" type="date"
								clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" value="${teacher.birthday}"/>																		
					</div>
            </div>
            </div>
            <div class="row">			
				<div class="form-group">
					<label class="col-sm-2 control-label">照片</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="picture" name="picture"  value="${teacher.picture}">
					</div>
				</div>
				
				
				<div class="form-group">
					<label class="col-sm-2 control-label">introduction</label>
					<div class="col-sm-10">
					<textarea name="content" id="content" rows="30" cols="80">
						${teacher.content}
            		</textarea>						
					</div>
				</div>             
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TeacherInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TeacherInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
	CKEDITOR.replace('content');
</script>
<script src="${ctxPath}/static/modular/system/teacher/teacher_info.js"></script>
@}
