@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${classSchedule.id}">
            <input type="hidden" id="teacheridvalue" value="${classSchedule.teacherid}">
            <input type="hidden" id="coursetimevalue" value="${classSchedule.coursetime}">
            <input type="hidden" id="materialidvalue" value="${classSchedule.materialid}">
            <input type="hidden" id="isdelayvalue" value="${classSchedule.isdelay}">
            <input type="hidden" id="statusvalue" value="${classSchedule.status}">
            <input type="hidden" id="orderid" value="${classSchedule.orderid}"/>

            <div class="row">
                <div class="col-sm-6 b-r">
                
	                <#input id="studentid" name="学生" value="${classSchedule.studentid}"/>
	                
	                <#select id="teacherid" name="教师">
							@for(userIdname in dicMap.useridname){
							<option value="${userIdname.id}">${userIdname.name}</option>
							@}
					</#select>
					<#input id="date" name="上课时间" underline="false" type="date" 
								clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" value="${classSchedule.date}"/>	
	                <!-- <#input id="date" name="开始日期" value="${classSchedule.date}"/> -->
	                <#input id="starttime" name="开始时间" value="${classSchedule.starttime}"/>
	                <#select id="coursetime" name="课程时长">
						@for(classTime in dicMap.calsstime){
							<option value="${classTime.num}">${classTime.name}</option>
							@}
					</#select>
                

                </div>

                <div class="col-sm-6">
               		<#select id="materialid" name="教材">
						@for(meterialName in dicMap.meterialname){
						<option value="${meterialName.id}">${meterialName.name}</option>
						@}
					</#select>

               		<#select id="status" name="课程状态">
							@for(calssStatus in dicMap.calssstatus){
							<option value="${calssStatus.num}">${calssStatus.name}</option>
							@}
					</#select>
					<#select id="isdelay" name="是否延期">
						<option value="1">是</option>
						<option value="0">否</option>
					</#select>
               		<#input id="delayreason" name="延期原因" value="${classSchedule.delayreason}"/>
                	<#avatar id="file" name="文件" underline="true" avatarImg=""/>
                	<#input id="remark" name="备注" value="${classSchedule.remark}"/>
                	<input type="file" class="form-control" id="file" name="file">
						<span class="help-block m-b-none">
							@if(classSchedule.file!=null){
							<img src="../../${classSchedule.file}"  style="width:300px;height: 300px;">
							@}
						</span>

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ClassscheduleInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ClassscheduleInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/classschedule/classschedule_info.js"></script>
@}
