@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
    
        <div class="form-horizontal">
<form action="${ctxPath}/classschedule/checkin" method="post" id="checkInUpdate" enctype="multipart/form-data">
            <input type="hidden" id="id" value="${classSchedule.id}" name="id">
            <input type="hidden" id="teacheridvalue" value="${classSchedule.teacherid}">
            <input type="hidden" id="coursetimevalue" value="${classSchedule.coursetime}">
            <input type="hidden" id="materialidvalue" value="${classSchedule.materialid}">
            <input type="hidden" id="isdelayvalue" value="${classSchedule.isdelay}">
            <input type="hidden" id="statusvalue" value="${classSchedule.status}">
            <input type="hidden" id="orderid" value="${classSchedule.orderid}"/>

            <div class="row">
                <div class="col-sm-6 b-r">
	                <#input id="studentid" name="student" value="${classSchedule.studentid}" disabled="disabled"/>
	                <#select id="teacherid" name="teacher" disabled="disabled">
								@for(userIdname in dicMap.useridname){
								<option value="${userIdname.id}">${userIdname.name}</option>
								@}
					</#select>
	                <#input id="date" name="class date" value="${classSchedule.date}" disabled="disabled"/>
	                <#input id="starttime" name="start time" value="${classSchedule.starttime}" disabled="disabled"/>
	                <#select id="coursetime" name="course time" disabled="disabled">
							@for(classTime in dicMap.calsstime){
								<option value="${classTime.num}">${classTime.name}</option>
								@}
					</#select>
                

                </div>

                <div class="col-sm-6">
	                <#select id="materialid" name="material" disabled="disabled">
							@for(meterialName in dicMap.meterialname){
							<option value="${meterialName.id}">${meterialName.name}</option>
							@}
					</#select>
	                <#select id="status" name="class status">
							@for(calssStatus in dicMap.calssstatus){
							<option value="${calssStatus.num}">${calssStatus.name}</option>
							@}
					</#select>
					<#select id="isdelay" name="is delay" disabled="disabled">
							<option value="1">yes</option>
							<option value="0">no</option>
					</#select>
	                <#input id="delayreason" name="delay reason" value="${classSchedule.delayreason}" disabled="disabled"/>
	               
						<input type="file" class="form-control" id="file" name="file">
						<span class="help-block m-b-none">
							@if(classSchedule.file!=null){
							<img src="../../${classSchedule.file}"  style="width:300px;height: 300px;">
							@}
						</span>
					


                </div>
            </div>
            <#input id="remark" name="备注" value="${classSchedule.remark}"/>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="submit" id="ensure" icon="fa-check" clickFun="ClassscheduleInfoDlg.checkInSubmit()"/>
                    <#button btnCss="danger" name="cancel" id="cancel" icon="fa-eraser" clickFun="ClassscheduleInfoDlg.close()"/>
                </div>
            </div>
            </form>
        </div>

    
    
    
    
    
    </div>
</div>
<script src="${ctxPath}/static/modular/system/classschedule/classschedule_info.js"></script>
@}
