@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>课程表管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">                             
                                 <#select id="teachername" name="教师">
                                 <option value="">所有</option>
									@for(userIdname in dicMap.useridname){
									<option value="${userIdname.id}">${userIdname.name}</option>
									@}
								</#select>
                            </div>
                            <div class="col-sm-3">
                              <#input id="classdatafrom" name="课程日期从" underline="false" type="classdata"
								clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})"/>
                                
                            </div>
                            <div class="col-sm-3">
                              <#input id="classdatato" name="到" underline="false" type="classdata"
								clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})"/>
                                
                            </div>
                            <div class="col-sm-3">
                                <#button name="结算" icon="fa-search" clickFun="Classschedule.search()"/>
                            </div>
                        </div>
                         <div class="row">
                         <div class="col-sm-3">
                                <#NameCon id="totalcount" name="总金额" value="${count}" />
                            </div>
                         </div>
                        <div class="hidden-xs" id="ClassscheduleTableToolbar" role="group">
                                        
                        
                        </div>
                        <#table id="ClassscheduleTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/classschedule/classschedulecount.js"></script>
@}
