@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>课程表管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                      <div class="row">
                            <div class="col-sm-4">
                                <#NameCon id="studentname" name="学会账号" />
                            </div>
                            
                            <div class="col-sm-4">
                              <#input id="classdata" name="课程日期" underline="false" type="classdata"
								clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})"/>
                                
                            </div>
                            
                            <div class="col-sm-4">
                                <#button name="搜索" icon="fa-search" clickFun="Classschedule.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="ClassscheduleTableToolbar" role="group">
                            @if(shiro.hasPermission("/classschedule/checkin")){
                                <#button name="签到" icon="fa-plus" clickFun="Classschedule.openClassscheduleDetail()"/>
                            @}
                          
                        </div>
                        <#table id="ClassscheduleTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/classschedule/classscheduleforteacher.js"></script>
@}
