@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Class Schedule</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                      <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="studentname" name="student name" />
                            </div>
                            
                          
                              <div class="col-sm-3">
                              <#input id="classdatafrom" name="date from" underline="false" type="classdata"
								clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" value="${today}"/>
                                
                            </div>
                            <div class="col-sm-3">
                              <#input id="classdatato" name="to" underline="false" type="classdata"
								clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" value="${today}"/>
                                
                            </div>
                            <div class="col-sm-3">
                                <#button name="search" icon="fa-search" clickFun="Classschedule.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="ClassscheduleTableToolbar" role="group">
                            @if(shiro.hasPermission("/classschedule/checkin")){
                                <#button name="checkin" icon="fa-plus" clickFun="Classschedule.openClassscheduleDetail()"/>
                            @}
                          
                        </div>
                        <#table id="ClassscheduleTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/classschedule/classscheduleforteacher.js"></script>
@}
