@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${classSchedule.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                <#input id="studentid" name="学生" value="${classSchedule.studentid}" disabled="disabled"/>
                <#input id="teacherid" name="教师" value="${classSchedule.teacherid}" disabled="disabled"/>
                <#input id="date" name="开始日期" value="${classSchedule.date}" disabled="disabled"/>
                <#input id="starttime" name="开始时间" value="${classSchedule.starttime}" disabled="disabled"/>
                <#input id="coursetime" name="课程时长" value="${classSchedule.coursetime}" disabled="disabled"/>
                

                </div>

                <div class="col-sm-6">
                <#input id="materialid" name="教材" value="${classSchedule.materialid}" disabled="disabled"/>
               
                <!-- <#input id="file" name="文件" value="${classSchedule.file}"/> -->
                <#input id="status" name="状态" value="${classSchedule.status}" disabled="disabled"/>
						<#select id="isdelay" name="是否延期" disabled="disabled">
						<option value="1">是</option>
						<option value="0">否</option>
				</#select>
               <#input id="delayreason" name="延期原因" value="${classSchedule.delayreason}" disabled="disabled"/>
                <#avatar id="file" name="文件" underline="true" avatarImg=""/>

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ClassscheduleInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ClassscheduleInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/classschedule/classschedule_info.js"></script>
@}
