<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.TeacherMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.Teacher">
		<id column="id" property="id" />
		<result column="userid" property="userId" />
		<result column="country" property="country" />
		<result column="language" property="language" />
		<result column="picture" property="picture" />
		<result column="age" property="age" />
		<result column="content" property="content" />
		<result column="isshow" property="isshow" />
		<result column="qq" property="qq" />
		<result column="skype" property="skype" />
		<result column="updateDate" property="updateDate" />
		<result column="salt" property="salt" />
		<result column="birthday" property="birthday" />
	</resultMap>

</mapper>
