@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
			<form action="${ctxPath}/shuffling/add" method="post" id="shufflingAdd" enctype="multipart/form-data">
            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
 					<#input id="title" name="轮播图标题" underline="true"/>

                   <#input id="file" name="文件" type="file" underline="true" />

                </div>

                <div class="col-sm-6">
 					<#input id="num" name="排序" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ShufflingInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ShufflingInfoDlg.close()"/>
                </div>
            </div>
            </form>
        </div>

<!--  -->
    </div>
</div>
<script src="${ctxPath}/static/modular/system/shuffling/shuffling_info.js"></script>
@}
