@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>订单管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="studentid" name="学生ID" />
                            </div>
                            <div class="col-sm-3">
                              <#input id="date" name="课程日期" underline="false" type="classdata"
								clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})"/>
                                
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Ordermanage.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="OrdermanageTableToolbar" role="group">
                            @if(shiro.hasPermission("/ordermanage/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Ordermanage.openAddOrdermanage()"/>
                            @}
                            @if(shiro.hasPermission("/ordermanage/update")){
                                <#button name="修改" icon="fa-plus" clickFun="Ordermanage.openOrdermanageDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/ordermanage/delete")){
                                <#button name="删除" icon="fa-plus" clickFun="Ordermanage.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="OrdermanageTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/ordermanage/ordermanage.js"></script>
@}
